* {
margin: 0;
padding: 0;
}

body{
    background-color: black;
}


h1{
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 0, 0);
}
h2{
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 0, 0);
}
h3{
    color: rgb(255, 0, 0);
}
li{
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 0, 0);
}

/*-------------index------------*/

.index{
    height: 100vh;
    background-image: url(./img/bg-index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.botonesIndex{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    
}

.botonIndex{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}
/* #primerJuego{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}

#segundoJuego{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}

#terceroJuego{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}
*/
#cuartoJuego{
    margin-bottom: 0;
} 

.h2index{
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 0, 0);
}

/*-------------------primer juego----------------------*/

.texto1{
    display: block;
    font-size: 300%;
    margin-left: 20%;
    margin-right: 20%;
}
.carta{
    display: inline;    
    margin: 10px;
    height: auto;
    width: auto;
}
.carta img{
    height: auto;
    width: 25%;
    
}
#contenedor_boton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton1{
    display: block;
    height: 2em;
    width: 5em;
    font-size: 2em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.boton2{
    
    font-size: 2em;
    height: 2em;
    width: 5em;
    margin: 1em;
}
.botonvolver{
    font-size: 2em;
    height: 2em;
    width: 7em;
    margin: 1em;
}

.juego1{
    height: 100vh;
    background-image: url(./img/bg-juego1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*----------------------juego 2---------------------*/
.bg-juego2{
    height: 100vh;
    background-image: url(./img/bg-juego3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.juego2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.tablas{
    height: 45%;
    width: auto;
}

/*-----------------juego 3 ------------------------*/

.contenedorInput{
    display: flex;
    justify-content: center;
}
#inputJuego3{
    height: 2em;
    width: auto;
}
.bg-juego3{
    height: 100vh;
    background-color: none;
    background-image: url(./img/bg-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-juego3-2{
    background-image: none;
    background-color: black;
    height: auto;
}