* {
margin: 0;
padding: 0;
}

#body{
    background-color: #27374D;
}


h1{
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-top: 10rem;
    
    
}
h2{
    text-align: center;
    font-size: 3rem;
    color: white;
   
}
h3{
    color: white;
}
li{
    text-align: center;
    font-size: 2rem;
    color: white;
}

/*-------------index------------*/

.index{
    height: 100vh;
    background-color: #27374D;
    
}



.botonesIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    margin: 5rem;
    
}


/* #primerJuego{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}

#segundoJuego{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}

#terceroJuego{
    font-size: 3rem;
    height: auto;
    width: auto;
    margin: 2rem;
    border-radius: 2em;
}
*/
#cuartoJuego{
    margin-bottom: 0;
} 



.h2index{
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-decoration:underline;
}

/*-------------------primer juego----------------------*/



.texto1{
    display: block;
    font-size: 300%;
    margin-left: 20%;
    margin-right: 20%;
}

.cartasConteiner{
    display: flex;

}

.carta{
        
    margin: 10px;
    height: auto;
    width: auto;
    display: inline;
       

}
.carta img{
    height: auto;
    width: 100%;
    
}
#contenedor_boton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton1{
    display: block;
    height: 2em;
    width: 5em;
    font-size: 2em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.boton2{
    
    font-size: 2em;
    height: 2em;
    width: 5em;
    margin: 1em;
}
.botonvolver{
    font-size: 2em;
    height: 2em;
    width: 7em;
    margin: 1em;
}

.juego1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/*----------------------juego 2---------------------*/
.bg-juego2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoJuego2{
    font-size: 3rem;
}

.juego2{
   
    display: flex;
    align-items: baseline;
    justify-content: center;

}
.tabla{
    height: auto;
    width: auto;
    margin: 3rem;

    
}
.tabla img{
    height: auto;
    width: 80%;
}

/*-----------------juego 3 ------------------------*/

.contenedorInput{
    display: flex;
    justify-content: center;
}
#inputJuego3{
    height: 2em;
    width: auto;
}
.bg-juego3{
    height: 100vh;
    
}
.bg-juego3-2{
    
    height: auto;
}